.element__button-like {
    background-image: url(../../../images/Vector\ copy\ 2.svg);
    background-position: center;
    height: 19px;
    width: 21px;
    border: unset;
    background-color: #ffffff;
    margin-right: 20px;
    transition: opacity 0,5s linear;
    cursor: pointer;
}

.element__button-like:hover {
    opacity: 0.6;
}